{% extends 'base.html'%}
{% block content %}
<h1>Welcome!</h1>
<div>
    <form action="/search/">
        <label for="db">Db:</label>
        <input id="db_name" type="text" name="db_name" value="{{ current_name }}">
        <input type="submit" value="Search">
    </form>
</div>
<div>
    <form method="post" action="/upload/" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="excel">excel:</label>
        <input type="file" name="excel_file">
        <button type="submit">Upload</button>
    </form>
</div>
{% endblock %}