{% extends 'base.html'%}
{% block content %}
<script>
    $( function() {
      $( "#datepicker_before" ).datepicker();
      $( "#datepicker_after" ).datepicker();
      $( "#db_change_or_edit" ).selectmenu();
    } );
</script>
<h2>Welcome!</h2>
<div "card-square  mdl-shadow--2dp">    
    <a href="/search/"><h4>View all & search</h4></a>
</div>
<div class="card-square  mdl-shadow--2dp">
    <h4>Upload</h4>
    <form class="mdl-grid" method="post" action="/upload/" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="mdl-textfield__input" for="excel">excel:</label>
        <input class="mdl-textfield__input" type="file" name="excel_file">
        <button class="" type="submit">Upload or create new</button>
        <input class="" type="checkbox" id="scales" name="to_edit"
         checked>
        <label class="" for="scales">To edit after uploading</label>
    </form>
</div>
{% endblock %}