{% extends 'base.html'%}
{% block content %}

<script>
  //Delete db
  function init() {
      // Delete on backend
    $('.delete_class').click(function() {
      $.ajax({
        type: "POST",
        url: "/delete/" + $(this).data( "id" ),
        data: { csrfmiddlewaretoken : "{{ csrf_token }}"}
      })
      // Redirect to index
        
    });    
  }
  $( document ).ready(init);
</script>  
<h2>Database:</h2> 
<script>
  // Change cell
  function init() {
    $('.cell_edit').change(function() {
      $.ajax({
        type: "POST",
        url: "/changeCell/",
        data: { csrfmiddlewaretoken : "{{ csrf_token }}",row:$(this).data("row"),
                column:$(this).data("column"), var:$(this).val(),db_id:"{{db_id}}"}
      })
    });    
  }
  $( document ).ready(init);
</script>  
<form method="post" action="/changeName/">
  {% csrf_token %}
  <input name="name" class="mdl-textfield__input" type="text" id="" value="{{act.name}}"/>
  <input name="db_id" class="mdl-textfield__input" type="text" id="" value="{{db_id}}" hidden=True/>
  <button class="" type="submit">Change name</button>
</form> 
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    {% for row in res %}    
      <tr>
      {% for i in row %}
      <!-- changeCell/ -->
        <!-- <td class="mdl-data-table__cell editField">{{val}}</td> -->
        <td class="mdl-data-table__cell editField">
          <input class="cell_edit mdl-textfield__input" type="text" id="" value="{{i.val}}" data-row="{{i.row}}" data-column="{{i.column}}"/>
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
</table> 
<div id="div_{{act.link_id}}">
  <b>created:</b> {{act.create}} 
  <b>modified:</b> {{act.change}}
  <a href="/{{act.link_download}}">Download</a>      
  <a class="delete_class" data-id="{{act.link_id}}">Delete</a>
</div>

{% endblock %}